* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #fff;
    --black: #000;
    --primary: #292929;
    --secondary: #252525;
    --background-color: #1a1e21;
}

h1 {
    font-size: 70px;
    color: var(--white);
    font-weight: bold;
}
h2 {
    text-align: center;
    font-size: 45px;
    margin: 30px 0px;
}
h3 {
    font-size: 30px;
    color: var(--white);
    margin-bottom: 30px;
}
h4 {
    font-size: 18px;
    color: var(--white);
    margin: 20px;
    text-align: center;
}
h5 {
    font-size: 25px;
    color: var(--white);
    text-align: center;
    font-weight: bold;
}

p {
    font-size: 20px;
}
.button {
    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
    padding: 8px 15px;
    margin: 10px 10px 30px 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid var(--black);
    font-size: 15px;
}
.button:hover {
    cursor: pointer;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.size-nav {
    height: 50px;
    width: 50px;
}
body { 
    padding-top: 55px; 
}
.disclaimer {
    display: none;
}

/*Section one*/
.home {
    background-image: url(./images/developer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 420px) {
    .home h1 {
        text-align: center;
        font-size: 250%;
    }
    .home h3 {
        font-size: 150%;
    }
    .home {
        height: 100%;
    }
    .button {
        margin: 10px 5px 30px 5px;
    }
}
@media screen and (max-width: 780px) {
    .home h1 {
        text-align: center;
        font-size: 250%;
    }
    .home h3 {
        font-size: 150%;
    }
    .home {
        height: 300px;
    }
    .button {
        margin: 10px 5px 30px 5px;
    }
}
/*End section one*/


/*Section two*/
#sobre-mi {
    background-color: var(--background-color);
    padding: 20px;
}
.button-profile {
    display: flex;
    justify-content: center;
}
.title {
    color: var(--white);
    padding: 25px 0;
}
.paragraph{
    color: var(--white);
    margin: auto;
    padding-top: 20px; 
}
.img {
    border-radius: 100%;
    width: 80%;
}
@media screen and (max-width: 420px) {
    .paragraph{
        color: var(--white);
        margin: auto;
        padding: 30px; 
        text-align: center;
    }
    .img {
        border-radius: 100%;
        width: 50%;
    }
    .title {
        text-align: center;
        font-size: 200%;
    }
    h5 {
        font-size: 15px;
    }
}
@media screen and (max-width: 780px) {
    .paragraph{
        color: var(--white);
        margin: auto;
        padding: 30px; 
        text-align: center;
    }
    .img {
        border-radius: 100%;
        width: 50%;
    }
    .title {
        text-align: center;
        font-size: 200%;
    }
    h5 {
        font-size: 15px;
    }
}

/*End section two*/

/*Section three*/
.skills {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 80px auto 40px auto;
}
#skills {
    background-color: var(--primary);
    padding: 20px 0;
}

@media screen and (max-width: 480px) {
    .img-skill {
        width: 10%;
        text-align: center;
        margin: auto;
    }
}
@media screen and (max-width: 780px) {
    .img-skill {
        width: 80%;
        margin: auto;
        text-align: center;
    }
}
/*End section three*/

/*Section four*/

#portfolio {
    background-color: var(--background-color);
    padding: 20px;
}
.card {
    transition: transform 0.5s;
    padding: 5px;
    margin: 15px;
    text-align: center;
}
.card-text {
    font-size: 16px;
    margin: auto;
    padding: 25px 0 20px 0;
}
.card:hover {
    transform: scale(1.05);
}
/*End section four*/


/*Section five*/
#contacto {
    background-color: var(--primary);
    padding: 20px;
}
.send {
    display: flex;
    justify-content: center;
}
label {
    font-weight: bold;
    margin: 15px 0px;
    display: block;
    color: var(--white);
}
/*End section five*/

/*Footer*/
.footer {
    width: 100%;
    padding: 5px 0;
    margin: 0 auto;
    color: var(--white);
    background-color: var(--black);
    text-align: center;  
}
.footer a {
    padding: 10px;
    margin-top: 5px;
}
.footer p {
    padding: 5px 0;
    margin-top: 10px;
}
.footer-img {
    width: 4%;
    padding-top: 15px;
}
@media screen and (max-width: 480px) {
    .footer {
        padding: 10px 0;
        margin: auto;
    }
    .footer p{
        font-size: 80%;
        padding: 0px;
    }
    .footer-img {
        width: 10%;
        padding-top: 5px;
    }
}
/*End footer*/


