@import '../base/variables';
@import '../base/maps';
@import '../base/extends';

#contacto {
    background-color: $primary;
    padding: 20px;

    .send {
    @extend %flexbox;
}
    label {
    font-weight: bold;
    margin: 15px 0px;
    display: block;
    color: $white;
}
}