@import '../base/variables';
@import '../base/maps';

.home {
    background-image: url(./images/developer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: map-get($landing, text);
    justify-content: center;
}

@media screen and (max-width: 420px) {
    .home {
        height: 100%;
    }
    h1 {
        text-align: map-get($landing, text);
        font-size: 250%;
    }
    h3 {
        font-size: 150%;
    }
    .button {
        margin: map-get($landing, margin);
    }
}
@media screen and (max-width: 780px) {
    .home {
        height: 300px;
    }
    h1 {
        text-align: map-get($landing, text);
        font-size: 250%;
    }
    h3 {
        font-size: 150%;
    }
    .button {
        margin: map-get($landing, margin);
    }
    
}