@import '../base/variables';
@import '../base/maps';

#portfolio {
    background-color: $bg-color;
    padding: 20px;

    .card {
    padding: 5px;
    margin: 15px;
    text-align: map-get($landing, text);
}
    .card-text {
    font-size: 16px;
    margin: auto;
    padding: 25px 0 20px 0;
}
    .card:hover {
    transform: scale(1.05);
}
}