@import '../base/variables';

#skills {
    background-color: $primary;
    padding: 20px 0;

    .skills {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        margin: 80px auto 40px auto;
    }
}

@media screen and (max-width: 480px) {
    .img-skill {
        width: 10%;
        text-align: center;
        margin: auto;
    }
}
@media screen and (max-width: 780px) {
    .img-skill {
        width: 80%;
        margin: auto;
        text-align: center;
    }
}